@import "reveal-js/css/theme/template/mixins";
@import "reveal-js/css/theme/template/settings";

//$backgroundColor: #eeeeee;

$backgroundColor:#f7fafc;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #808080; // #CC9900;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

@import "reveal-js/css/theme/template/theme";

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal section img {
    margin: 15px 0;
    border: 0;
    box-shadow: none;
}